In [8]:
import pandas_market_calendars as mcal
import pandas as pd

In [9]:
six = mcal.get_calendar('SIX')

In [51]:
df = pd.read_excel('data.xlsx')

str(df['DATE'].min().date())

'2022-01-03'

In [52]:
start = df['DATE'].min().date()
end = df['DATE'].max().date()
schedule = six.schedule(start_date=start, end_date=end)

In [66]:
df[~df['DATE'].isin(schedule.index)]

          DATE  CREDIT SUISSE GROUP - TOT RETURN IND
74  2022-04-15                                333.85
75  2022-04-18                                333.85
103 2022-05-26                                318.95
110 2022-06-06                                311.77
150 2022-08-01                                261.77
255 2022-12-26                                142.07
259 2022-12-30                                137.98
260 2023-01-02                                137.98

In [60]:
upd_df = df[df['DATE'].isin(schedule.index)]

In [61]:
def print_days_without_price_change(df):
    prev_row = None
    j = 0

    for i, row in df.iterrows():
        if j !=  0:
            if row['CREDIT SUISSE GROUP - TOT RETURN IND'] == prev_row['CREDIT SUISSE GROUP - TOT RETURN IND']:
                print(row['DATE'])

        j = 1
        prev_row = row

In [64]:
print_days_without_price_change(upd_df)

In [65]:
upd_df

          DATE  CREDIT SUISSE GROUP - TOT RETURN IND
0   2022-01-03                                422.59
1   2022-01-04                                427.71
2   2022-01-05                                430.04
3   2022-01-06                                431.43
4   2022-01-07                                431.80
..         ...                                   ...
312 2023-03-15                                 84.71
313 2023-03-16                                100.94
314 2023-03-17                                 92.85
315 2023-03-20                                 41.09
316 2023-03-21                                 44.10

[309 rows x 2 columns]